body {
    background-color: #3D5A80;
    font-family: Verdana;
    color: #f7ede2;
}

h1 {
    color: 238, 108, 77;
}

h2 {
    color: #E0FBFC;
}

li {
    color: white;
}

#bordeado {
    border-style: 3px solid white;
}

.aloha {
    background-color: #293241;
    color: white;
}

input {
    border-style: 2px dashed rgb 238, 108, 77;
}

div p{
    color: #98C1D9;
    font-size: 150%;
}

input [type='text']{
    background-color: red;
}